body{
    position: relative;
}

.activity-box{
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    animation: slide 1s alternate;
    z-index: 99999;
}

@keyframes slide {
    from{
        top: 0px;
    }   
    to{
        top: 50%;
    }
}

main{
    overflow: hidden;
}

.t-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.t-form input,
select{
    padding: 10px 10px;
    border-radius: 5px;
    outline-color: dodgerblue;
    background-color: #f6f5ff;
    border: 1px solid #ccc;
}

